.landing-page{
    /*background-image: url("./Assets/img/hotel_2.jpg");*/
    background-size: cover;
    height: 100vh;
    color: lightgreen;
}

.wrapper{
    background: rgba(0,0,0,0.7);
    height: 100%;
}